# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
native-modules/target/debug/deps/libwgpu-d62cd49793d3a9a5.rlib*
ad77efd8f3b4778e31e6966ccb46e07d086aa6bc*
nxative-modules/target/debug/deps/libwgpu-d62cd49793d3a9a5.rlib/
native-modules/target/
native-modules/target/*
.eslintcache
native-modules/target/debug/deps/libwgpu-d62cd49793d3a9a5.rlib/
6a13088042ea0f5ad6c9564c4538b5e12b67d695950d26d9278f1507571435f*
6a13088042ea0f5ad6c9564c4538b5e12b67d695950d26d9278f1507571435f/
d77efd8f3b4778e31e6966ccb46e07d086aa6b/
d77efd8f3b4778e31e6966ccb46e07d086aa6b*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
